attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
cors
exceptiongroup
filelock
Flask
Flask-Cors
Flask-MySQLdb
Flask-SQLAlchemy
future
gevent
greenlet
h11
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
outcome
packaging
protobuf
pycparser
PySocks
python-dotenv
requests
requests-file
selenium
six
sniffio
sortedcontainers
SQLAlchemy
tldextract
trio
trio-websocket
typing_extensions
urllib3
webdriver-manager
Werkzeug
wsproto
zope.event
zope.interface
